h3 {
  margin-left: 40px;
}

div {
  position: relative;
  width: 100%;
  height: 525px;
}

form {
  width: 400px;
  height: 100px;
  position: relative;
}

label {
  margin-left: 40px;
}

p {
  position: relative;
  width: 200px;
  margin: 10px 0 10px 40px;
}

p ~ input {
  margin: 0 0 10px 40px;
}
